/* reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
ul,
ol,
li,
dl,
dt,
dd,
img,
form,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  text-align: left;
  list-style-type: none;
  border-collapse: collapse;
}

textarea {
  font-size: 100%;
  vertical-align: middle;
}
img {
  border-style: none;
  display: block;
}
hr {
  display: none;
}
em {
  font-style: normal;
}
input {
  line-height: auto;
  vertical-align: middle;
}
strong.more {
  color: #c30;
}
a {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  /* ↓背景グリッド↓ */
  background-image: linear-gradient(
      0deg,
      transparent calc(100% - 1px),
      #f0f0f0 calc(100% - 1px)
    ),
    linear-gradient(
      90deg,
      transparent calc(100% - 1px),
      #f0f0f0 calc(100% - 1px)
    );
  background-size: 23px 23px;
  background-repeat: repeat;
  background-position: center center;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 56px;
  text-align: center;
}

h1 > span {
  border-top: 2px solid #2da690;
  padding: 20px;
  text-align: center;
}

.fa-solid,
.fas {
  font-weight: 900;
}

.fa-arrow-up-right-from-square {
  font-size: 1.2em;
  color: #2da690;
  margin-left: 5px;
}

.fa-circle-arrow-right {
  color: #2da690;
}

/* 上は無視してください */

.nav-02 {
  display: none;
}

.hamburger {
  display: none;
}

.link {
  color: #000000de;
  cursor: pointer;
}

.fadein-scroll {
  opacity: 0;
  transition: all 1s;
}

.fadein-from-left {
  transform: translate(-50px, 0);
}

.fadein-from-down {
  transform: translate(0, 50px);
}

.fadein-active01 {
  opacity: 1;
  transform: translate(0, 0);
}

.fadein-active02 {
  opacity: 0.9;
  transform: translate(0, 0);
}

.service-item1 a,
.service-item3 a {
  left: -5vw;
}

.service-item2 a {
  right: -5vw;
}

.wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

header {
  background-color: white;
  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 1s;
  transition-delay: 1s;
  transform: translate(0, -50px);
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.nav-01 ul {
  display: flex;
  justify-content: flex-end;
}

.nav-01 ul li {
  padding-right: 20px;
}

.img-wrap {
  width: 100%;
  height: 100vh;
}

.img-wrap img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
}

.catch-copy {
  position: absolute;
  bottom: 0;
  transition: 1s;
  padding: 40px;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.catch-copy strong {
  color: #fce244;
}

.service {
  padding: 100px 0;
}

.service li {
  height: 25vw;
  min-height: 340px;
  margin-bottom: 56px;
  display: flex;
  align-items: center;
}

.service li img {
  object-fit: cover;
  width: 50%;
  height: 25vw;
}

.service li a {
  position: relative;
  width: 50%;
  max-width: 600px;
  height: 340px;
  padding: 40px;
  background-color: white;
  transition-delay: 0.38s;
}

.service-item1 a img {
  width: auto;
  height: 30%;
}

.service .catch {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sub {
  color: #0000008a;
}

.service .fa-arrow-up-right-from-square {
  display: block;
  margin-top: 20px;
  opacity: 0.2;
}

.service a:hover .fa-arrow-up-right-from-square {
  opacity: 1;
  transform: translate(15px, 0);
  transition: 0.2s;
}

.service-item2 {
  flex-direction: row-reverse;
}

.service-item2 a img {
  width: auto;
  height: 30%;
  padding: 5% 0;
}

.service-item3 a img {
  width: auto;
  height: 30%;
}

.other-wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.other {
  margin: 56px 0 0 auto;
  display: block;
  text-align: right;
  font-weight: bold;
}

.vision {
  background-image: url("./image/bg01.jpeg");
  object-fit: cover;
  height: 650px;
  padding: 100px 0;
}

.vision h2 {
  text-align: center;
  font-size: 42px;
  margin: 54px 0;
  transition-delay: 0.5s;
}

.vision ul {
  display: flex;
  justify-content: center;
}

.vision ul li {
  padding: 0 30px;
  border-right: 1px solid gainsboro;
}

.vision ul li:last-child {
  border-right: none;
}

.vision .catch {
  font-size: 2rem;
  color: #2da690;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
}

.vision .sub {
  text-align: center;
}

.news {
  padding: 120px;
}

.news li {
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.news li > img {
  width: 150px;
  height: 80px;
  object-fit: cover;
}

.news-meta time {
  font-size: 0.8em;
  margin: 0 20px;
  color: gainsboro;
}

.news-meta a {
  font-size: 0.8em;
  font-weight: 700;
  margin-right: 10px;
}

.news-title {
  margin: 10px 10px 10px 20px;
  color: #0000008a;
}

.news-content:hover .news-title > a {
  color: #2da690;
}
